.noivasBack{
    background: rgb(242,212,212);
    background: linear-gradient(90deg, rgba(242,212,212,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(242,212,212,1) 100%);
}
.noivas_area{
    width: 100vw;
    overflow: hidden;
}
.logoStudio_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.logoStudio{
    max-width: 70rem;
    max-height: 75rem;
    object-fit: cover;
}
.logoStudio img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.noivas_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.noivas_section_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 5rem;
}
.img_noiva{
    width: 30%;
    max-height: 860px;

}
.img_noiva img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 15px rgb(108, 108, 108);
    border-radius: 1rem;
}
.txt_noiva{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; 
    text-align: justify;
    color: #926b58; 
}
.noivas_section h1{
    max-width: 40rem;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}
.noivas_section h3{
    max-width: 40rem;
    font-family: 'Cormorant Garamond', serif;;
    font-size: 3rem;
}
.noivas_section p{
    max-width: 40rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}
.noivas_section_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    gap: 5rem;
}
.noivas_section_3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    gap: 5rem;
}
.img_perfil{
    height: 75vh;
}
.img_perfil img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 2px 2px 15px rgb(108, 108, 108);
}
.txt_noiva2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    color: #926b58; 

}
.txt_noiva2 h1{
    font-size: 3rem;
}
.txt_noiva2 h3{
    font-size: 2rem;
}
.txt_noiva2 p{
    font-size: 1.5rem;

}
.noivas_section_2 .txt_noiva2{
    text-align: right;
}

.noivas_section_3 .txt_noiva2{
    text-align: left;
}
.txt_noiva2 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 1rem;
}
.txt_noiva2 svg{
    vertical-align: middle;
}
.txt_noiva2 ul li{
    transition: 0.5s;
}
.txt_noiva2 ul li:hover{
    transform: scale(1.2);
}
.txt_noiva2 div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.servicos{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.servicos_section{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.servicos_section_txt{
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: justify;
    gap: 1rem;
    justify-content: center;
    margin-left: 5rem;
    color: #926b58; 
}
.servicos_section_txt h3{
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
}
.servicos_section_txt p{
    font-size: 1.5rem;
    
}
.imageSlider_noivas{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    border-radius: 1rem;
}
.imageSlider_noivas h1{
    font-family: 'Cormorant Garamond', serif;
    color: #926b58; 
}
.imageSlider_noivas p{
    font-family: 'Cormorant Garamond', serif;
    color: #926b58; 
}
.imageSlider_noivas_area{
    max-width: 1000px;
    max-height: 800px;
    padding: 20px;
    border-radius: 1rem;
    background: transparent;
}
.imageSlider_noivas_area img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
   
}

@media screen and (max-width:1180px){
    .logoStudio_area{
        height: 60vh;
    }
    .noivas_section_1{
        flex-direction: column;
        height: 190vh;
        width: 80%;
    }
    .noivas_section_2{
        flex-direction: column;
        height: 160vh;
        width: 80%;
        gap: 2rem;
    }
    .noivas_section_2 .txt_noiva2{
        text-align: center;
        
    }
    .noivas_section_3{
        flex-direction: column;
        height: 200vh;
        width: 80%;
        gap: 2rem;
    }
    .noivas_section_3 .txt_noiva2{
        text-align: center;
    }
    .servicos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;    
        height: 140vh;
        gap: 5rem;
        width: 90%;
    }
    .servicos_section{
        width: 80%;
        gap: 2rem;
        
    }
    .servicos_section_txt{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .imageSlider_noivas_area{
        max-width: 100%;
    }
    .imageSlider_noivas{
        height: 180vh;
        text-align: center;
        gap: 5rem;
    }
    .img_noiva{
        width: 70%;
    }
}
@media screen and (max-width:768px){
    .servicos{
        height: 190vh;
    }
    .noivas_section_2{
        height: 150vh;
        text-align: center;
    }
    .noivas_section_3{
        height: 200vh;
    }
    .imageSlider_noivas{
        height: 120vh;
       
    }
    .txt_noiva2{
        text-align: center;
    }



}
@media screen and (max-width:600px) {
    .noivas_section_2{
        height: 180vh;
    }
    
}
@media screen and (max-width:520px){
    .servicos{
        height: 220vh;
    }
    .logoStudio_area{
        height: 40vh;
    }
    .noivas_section_1{
        height: 120vh;
    }
    .noivas_section_2{
        height: 210vh;
    }
    .txt_noiva h1{
        font-size: 3rem;
    }
    .txt_noiva h3{
        font-size: 2rem;
    }
    .txt_noiva p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 460px){
    .logoStudio_area{
        height: 40vh;
        width: 100%;
    }
    .noivas_section_1{
        width: 80%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img_noiva{
        width: 80%;
    }
    .img_noiva img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .noivas_section_1 h1{
        font-size: 3rem;
        text-align: center;
    }
    .noivas_section_1 h3{
        font-size: 2rem;
        text-align: center;
    }
    .noivas_section_1 p{
        font-size: 1.5rem;
        text-align: center;
    }
    .noivas_section_2{
        width: 80%;
        height: 210vh;
    }
    .noivas_section_3{
        width: 80%;
        height: 90vh;
    }
    .noivas_section_2 h1{
        font-size: 2.1rem;
        text-align: center;
    }
    .noivas_section_2 h3{
        font-size: 1.7rem;
        text-align: center;
    }
    .noivas_section_2 p{
        font-size: 1.3rem;
        text-align: center;
    }
    .noivas_section_3 h1{
        font-size: 2.1rem;
        text-align: center;
    }
    .noivas_section_3 h3{
        font-size: 1.7rem;
        text-align: center;
    }
    .noivas_section_3 p{
        font-size: 1.3rem;
        text-align: center;
    }
    .links_socialMedia_area{
        width: 100%;
        text-align: center;
    }
    .txt_noiva2 ul{
        width: 100%;
        gap: 1rem;
    }
    .servicos{
        width: 100%;
        margin-top: 20rem;
        height: 210vh;
        text-align: center;
    }
    .servicos_section{
        width: 100%;
    }
    .servicos_section_txt{
        width: 80%;
        margin-left: 0rem;
    }
    .servicos_section_txt h3{
        font-size: 2rem;
    }
    .servicos_section_txt p{
        font-size: 1.3rem;
    }
    .img_perfil{
        width: 100%;
    }
    .imageSlider_noivas{
        height: 90vh;
        gap: 2rem;
    }
    
    
}
@media screen and (max-width:420px){
    .noivas_section_2{
        height: 230vh;
    }
    .servicos{
        height: 230vh;
    }
    .servicos_section_txt h3{
        font-size: 2rem;
    }
    .servicos_section_txt p{
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width: 365px){
    .logoStudio_area{
        height: 50vh;
        width: 100%;
    }
    .noivas_section_1{
        width: 80%;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img_noiva{
        width: 80%;
    }
    .img_noiva img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .noivas_section_2{
        width: 80%;
        height: 225vh;
    }
    .noivas_section_3{
        width: 80%;
        height: 100vh;
    }
    
    .links_socialMedia_area{
        width: 100%;
        text-align: center;
    }
    .txt_noiva2 ul{
        width: 100%;
        gap: 1rem;
    }
    .servicos{
        width: 100%;
        margin-top: 20rem;
        height: 200vh;
        text-align: center;
    }
    .servicos_section{
        width: 100%;
    }
    .servicos_section_txt{
        width: 80%;
        margin-left: 0rem;
    }
    .servicos_section_txt h3{
        font-size: 2rem;
    }
    .servicos_section_txt p{
        font-size: 1.2rem;
    }
    .img_perfil{
        width: 100%;
    }
    .imageSlider_noivas{
        height: 100vh;
        gap: 2rem;
        width: 100%;
    }
    .imageSlider_noivas img{
        width: 100%;
    }
    
    
}
