.sideBar{
    width: 10rem;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255, 0.7),
    rgba(255,255,255, 0.3));
    border-radius: 2rem;
    height: 80vh;
    box-shadow: 2px 2px 15px rgb(183, 182, 182);
    
}

.sideBar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}
.sideBar ul li img{
    width: 100%;
}
.sideBar ul li a{
    font-size: 15px;
    background-color: rgba(249,176,176,1);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: #FFF;
    transition: 0.5s ease-in-out;
    
}
.sideBar ul li a:hover{
    background-color: rgb(245, 137, 137);
    transform: scale(1.2);
    
}
.sideBar ul li button{
    font-size: 20px;
    background-color: black;
    border: none;
    padding: 10px;
    width: 7rem;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #FFF;
    transition: 0.5s;
}
.sideBar ul button:hover{
    transform: scale(1.2);   
}


