@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@400;700&family=Lemon&family=Poppins:wght@200;400&display=swap');



body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
  font-weight: bold;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
/*font-family: 'Lemon', cursive;*/